Repository yadokari-party/yadokari-misskey, pull requests merged in 2025-02, with the labels that each got.

#5 fix(build): corepackのバグの回避
  .github/workflows/api-misskey-js.yml
  .github/workflows/get-api-diff.yml
  .github/workflows/lint.yml
  .github/workflows/locale.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-federation.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  CHANGELOG.md
  Dockerfile
  packages/backend/test-federation/compose.tpl.yml
  packages/backend/test-federation/compose.yml
  packages/frontend/src/components/MkDialog.vue
Labels: packages/frontend, packages/backend, packages/backend:test

#4 fix: カスタムフォントの適用がされていない
  CHANGELOG_YADOKARI.md
  packages/frontend/src/boot/common.ts
  packages/frontend/src/scripts/font.ts
Labels: packages/frontend

#7 Sync/upstream 2025.2.0
  CHANGELOG.md
  SECURITY.md
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/pt-PT.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/uz-UZ.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/src/models/Page.ts
  packages/backend/src/server/api/endpoints/pages/create.ts
  packages/backend/src/server/api/endpoints/pages/update.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.vue
  packages/frontend/src/components/MkDriveFileThumbnail.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteMediaGrid.vue
  packages/frontend/src/components/MkRoleSelectDialog.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSparkle.vue
  packages/frontend/src/pages/page-editor/page-editor.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/misskey-js/api-extractor.json
  packages/misskey-js/package.json
Labels: packages/frontend, packages/backend, packages/misskey-js

#3 feat: 絵文字申請
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1737306298234-createEmojiRequests.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/CustomEmojiApplicationService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/EmojiApplicationEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/EmojiApplication.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/emoji-application.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/endpoint-list.ts
  packages/backend/src/server/api/endpoints/admin/emoji-application/accept.ts
  packages/backend/src/server/api/endpoints/admin/emoji-application/list.ts
  packages/backend/src/server/api/endpoints/admin/emoji-application/reject.ts
  packages/backend/src/server/api/endpoints/admin/emoji-application/update.ts
  packages/backend/src/server/api/endpoints/emoji-application/cancel.ts
  packages/backend/src/server/api/endpoints/emoji-application/create.ts
  packages/backend/src/server/api/endpoints/emoji-application/list.ts
  packages/backend/src/server/api/endpoints/emoji-application/show.ts
  packages/backend/src/server/api/endpoints/emoji-application/update.ts
  packages/backend/src/types.ts
  packages/frontend-shared/js/const.ts
  packages/frontend/src/components/emoji-application/MkEmojiApplication.vue
  packages/frontend/src/components/emoji-application/MkEmojiApplicationEditor.vue
  packages/frontend/src/components/emoji-application/MkEmojiApplicationEditorDialog.vue
  packages/frontend/src/pages/admin/emoji-applications/list.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/custom-emoji-applications/edit.vue
  packages/frontend/src/pages/custom-emoji-applications/list.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/ui/_common_/common.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js
